
.footer_bg {
  background: linear-gradient(180deg, #071227, #071a2b);
  padding: 1rem ;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 1rem 0;
  color: #fafafa;
  border-radius: 1.5rem 1.5rem 0 0;
  overflow: hidden;
}

.footer_container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
}

.footer_brand {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.footer_description {
  max-width: 390px;
  color: #d4d4d4;
  font-size: 0.9rem;
  line-height: 1.6;
  padding: 1rem;
}

.footer_socials {
  display: flex;
  gap: 1.3rem;
}

.footer_socials a {
  color: #fafafa;
  transition: color 0.3s ease;
}

.footer_socials a:hover {
  color: #cfcfcf;
}

.footer_links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.footer_column h3 {
  margin: 0 0 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.footer_column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_column li {
  margin-bottom: 0.75rem;
}

.footer_column a {
  color: #d4d4d4;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer_column a:hover {
  color: #fafafa;
}

.footer_badge {
  font-size: 0.7rem;
  padding: 0.15rem 0.5rem;
  border-radius: 999px;
  background: #052e16;
  border: 1px solid #86efac;
  color: #86efac;
}

.footer_bottom {
  max-width: 1280px;
  margin: 3rem auto 0;
  padding-top: 1rem;
  border-top: 1px solid #fafafa;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer_bottom p {
  margin: 0;
  color: #a3a3a3;
  font-size: 0.9rem;
}

.footer_big_text_wrap  {
  padding: 1rem;

}


.footer_glow {
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: 760px;
  height: 260px;
  border-radius:50px;
  filter: blur(170px);
  pointer-events: none;
}

.footer_big_text {
  position: relative;
  margin: 1.5rem ;
  text-align: center;
  font-size: clamp(3rem, 15vw, 15rem);
  font-weight: 800;
  line-height: 0.7;
  -webkit-text-stroke: 2px #fafafa;


  /* background-color: #0d542b; */
  background-image: url("../../home/img/fondo9.jpg");
  width: fit-content;
  background-size: cover;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer {
    padding-inline: 4rem;
  }

  .footer_links {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .footer {
    padding-inline: 7rem;
  }

  .footer_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer_bottom {
    flex-direction: column;
  }
}
